body{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    
    justify-content: space-evenly; 

}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 22px;
    color: #d3cfcf;
}
