body{
    background-color: #131313;
}

main{
    display: flex;
}

nav{
    color: white;
    justify-content: space-between;

}
nav ul{
    list-style: none;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    
}
nav ul li{
    margin: 5%;

   
}
main h1{
     color: white;
     font-size: 70px;
     margin-left: 10%;
}

main h3{
    color: white;
     font-size: 25px;
     margin-left: 10%;
}

main p{
    font-size: 20px;
    color: #eae9e9;
    line-height: 1.5;
    margin-left: 10%;
}